In [4]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [19, 22, 20, 23, 18],
    'Score': [85, 78, 92, 65, 88]
}
df = pd.DataFrame(data)
print("Full DataFrame:\n", df)

Full DataFrame:
       Name  Age  Score
0    Alice   19     85
1      Bob   22     78
2  Charlie   20     92
3    David   23     65
4      Eva   18     88

In [5]:
print("\nFirst 3 rows:\n", df.head(3))
print("\nSummary Statistics:\n", df.describe())
average_score = df['Score'].mean()
print(f"\nAverage Score: {average_score}")

First 3 rows:
       Name  Age  Score
0    Alice   19     85
1      Bob   22     78
2  Charlie   20     92

Summary Statistics:
              Age      Score
count   5.000000   5.000000
mean   20.400000  81.600000
std     2.073644  10.597169
min    18.000000  65.000000
25%    19.000000  78.000000
50%    20.000000  85.000000
75%    22.000000  88.000000
max    23.000000  92.000000

Average Score: 81.6

In [6]:
students_older_20 = df[df['Age'] > 20]
print("\nStudents older than 20:\n", students_older_20)
high_scorers = df[df['Score'] > 80]
print("\nStudents with score > 80:\n", high_scorers)

Students older than 20:
     Name  Age  Score
1    Bob   22     78
3  David   23     65

Students with score > 80:
       Name  Age  Score
0    Alice   19     85
2  Charlie   20     92
4      Eva   18     88